.general {
    margin-left: 0px;
    max-width: 70%;
    position: absolute;
    transition: transform .2s ease-in-out;
}

/* .menuOpened {
    transform: translate(44px,0);
} */

@media (max-width: 1230px) {
    .menuOpened {
        transform: translate(0px,0);
    }
}

@media (max-width: 1136px) {
    .menuOpened {
        transform: translate(20px,0);
    }
}

@media (max-width: 1112px) {
    .menuOpened {
        transform: translate(90px,0);
    }
}

@media (max-width: 1006px) {
    .menuOpened {
        transform: translate(120px,0);
    }
}
@media (max-width: 1006px) {
    .menuOpened {
        transform: translate(120px,0);
    }
}

@media (max-width: 737px) {
    .menuOpened {
        transform: none;
        opacity:0.6;
    }
    
}

@media (max-width: 600px) {
    .general {
        margin-left:0px;
        max-width: 100%;
    }

    .menuOpened {
        transform: none;
        opacity: 0.6;
    }
    
}